asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
Django==4.0.3
django-cors-headers==3.11.0
djangorestframework==3.13.1
dnspython==2.2.1
engineering-notation==0.6.0
pymongo==4.0.2
pytz==2022.1
sqlparse==0.4.2
tk-tools==0.15.0
channels==3.0.4
channels-redis==3.4.0