# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\beto7\OneDrive\Documents\Google Drive\FSU\Classes\07. Spring 2022\CIS 4930\DrunkSuperSmashBros\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
